:root {
  --color-primary: #158cff;
  --color-secondary: #ff9208;
  --color-grey: #8291a9;
  --color-grey2: #c0cbda;
  --color-height-light: #48a0f5;
}
* {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
html {
  font-size: 14px;
  background-color: #0e1620;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--color-primary);
}
img {
  width: 100%;
  max-width: 100%;
}
.page-width {
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.flex-shrink {
  flex-shrink: 0;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-row {
  flex-direction: row;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.overflow-hidden {
  overflow: hidden;
}
.primary {
  color: var(--color-primary);
}
.secondary {
  color: var(--color-secondary);
}
.grey {
  color: var(--color-grey);
}
.grey2 {
  color: var(--color-grey2);
}
.main-btn {
  color: #ffffff;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
}
.main-btn:hover {
  color: #ffffff;
  background-color: var(--color-height-light);
}
.plain-btn {
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid var(--color-primary);
}
.plain-btn:hover {
  color: #ffffff;
  background-color: var(--color-height-light);
}
.normal-btn {
  color: #ffffff;
  background-color: #3e454d;
}
.main-btn,
.plain-btn,
.normal-btn {
  cursor: pointer;
  padding: 12px 18px;
  font-weight: 600;
  text-align: center;
  border-radius: 6px;
  transition: all 0.3s;
}
.big-text {
  font-size: 2rem;
  line-height: 1.5;
}
.normal-text {
  font-size: 1.1rem;
  line-height: 1.5;
}
.small-text {
  font-size: 1rem;
  line-height: 1.5;
}
.text-center {
  text-align: center;
}
.font-bold {
  font-weight: bold;
}
.section-module {
  padding: 30px 0;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.pointer {
  cursor: pointer;
}
.module-1-padding {
  padding: 0;
}
.border-box {
  box-sizing: border-box;
}
.grey-bg {
  padding: 20px;
  border-radius: 9px;
  box-sizing: border-box;
  border: 1px solid #323d54;
  background-color: #171f30;
}
.h-full {
  height: 100%;
}
@media (min-width: 768px) {
  .md-flex-row {
    flex-direction: row;
  }
  .md-flex-col {
    flex-direction: column;
  }
  .md-flex-col-reverse {
    flex-direction: column-reverse;
  }
}
@media (min-width: 1024px) {
  .module-1-padding {
    padding: 100px 0;
  }
  .big-text {
    font-size: 2.5rem;
  }
  .normal-text {
    font-size: 1.1rem;
  }
  .small-text {
    font-size: 1rem;
  }
  .main-btn,
  .plain-btn {
    padding: 14px 50px;
  }
  .section-module {
    padding: 50px 0;
  }
  .grey-bg {
    padding: 30px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 15px;
  }
  .big-text {
    font-size: 3rem;
    line-height: 1.8;
  }
  .normal-text {
    font-size: 1.3rem;
  }
  .small-text {
    font-size: 1rem;
  }
  .section-module {
    padding: 100px 0;
  }
}
