header {
  position: sticky;
  top: 0;
  color: #ffffff;
  z-index: 4;
  background: #0d1220;
  box-shadow: none;
  transition: all 1s;
}
.nav-pc {
  position: relative;
  z-index: 4;
  padding: 20px;
  background: #0d1220;
}
.logo {
  width: 30px;
  margin-right: 26px;
}
.company-name {
  font-size: 1.3rem;
  font-weight: bold;
}
.header-nav {
  display: none;
}
.nav-item {
  padding: 0 20px;
  color: #ffffff;
  font-size: 1.1rem;
}
.active {
  color: var(--color-primary);
  font-weight: bold;
}
.header-menu {
  display: block;
  cursor: pointer;
}
.nav-mob {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 2;
  display: block;
  padding: 10px 0;
  transform: translateY(-100%);
  opacity: 0;
  background-color: #ffffff;
  transition: all 0.3s;
}
.nav-mob-active {
  transform: translateY(0%);
  opacity: 1;
  z-index: 3;
}
.nav-item-mob {
  display: block;
  padding: 10px;
}
.mask {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
.nav-item-mob {
  color: #0d1220;
}
.nav-item-mob-active {
  color: var(--color-primary);
  font-weight: bold;
}
@media (min-width: 800px) {
  .header-menu {
    display: none;
  }
  .header-nav {
    display: block;
  }
  .nav-mob {
    display: none;
  }
}
@media (min-width: 1024px) {
  .logo {
    width: 40px;
  }
  .nav-item {
    padding: 0 40px;
  }
}
