.module-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img1 {
  max-width: 600px;
  margin-left: 90px;
}
.desc {
  padding: 10px 0 80px 0;
  color: #8291a9;
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service-item {
  width: 31%;
  padding: 20px 30px;
  margin-top: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #323d54;
  background: linear-gradient(180deg, #0d121f 0%, #040518 100%);
}
.module-2 {
  display: flex;
  padding-top: 30px;
}
.module-2-left {
  flex: 5;
  margin-right: 110px;
}
.module-2-right {
  flex: 4;
  padding: 0 30px;
}
.box {
  position: relative;
  padding: 0 0 60px 60px;
  border-left: 1px dashed #3e454d;
}
.index {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-50%);
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  border: 1px solid #70747a;
  background-color: #3e454d;
}
.video-box {
  padding: 30px;
  margin-top: 30px;
  border-radius: 20px;
  background-color: #171f30;
}
.video-box video {
  width: 100%;
  border-radius: 20px;
  vertical-align: bottom;
}
.module-4-left {
  padding-right: 200px;
}
.faq-box {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid #8291a9;
}
.faq-box:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.functionality {
  margin-right: 60px;
}
@media (max-width: 1024px) {
  .module-1 {
    flex-direction: column;
  }
  .img1 {
    margin-left: 0;
    margin-top: 20px;
  }
  .desc {
    padding: 10px 0 50px 0;
  }
  .module-2 {
    flex-direction: column;
  }
  .module-2-left {
    flex: 1;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .module-2-right {
    flex: 1;
  }
  .box {
    padding: 0 0 30px 60px;
  }
  .module-4-left {
    padding-right: 50px;
  }
  .faq-box {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .service-item {
    width: 100%;
    margin-top: 20px;
  }
  .video-box {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
  .video-box video {
    border-radius: 10px;
  }
  .module-4 {
    flex-direction: column;
  }
  .module-4-left {
    padding-right: 0;
    padding-bottom: 30px;
  }
  .faq-box {
    padding-bottom: 20px;
  }
  .desc {
    padding: 10px 0 30px 0;
  }
  .functionality {
    margin-right: 30px;
  }
}
