.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service-item {
  width: 31%;
  padding: 20px 30px;
  margin-top: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #323d54;
  background: linear-gradient(180deg, #0d121f 0%, #040518 100%);
}
.search-ipt-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 6px;
  background-color: #747a83;
}
.search-ipt {
  flex: 1;
  margin-right: 20px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #747a83;
}
.search-ipt::placeholder {
  color: #ffffff;
}
.module-4-left {
  padding-right: 200px;
}
.faq-box {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid #8291a9;
}
.faq-box:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.info1 {
  padding-top: 80px;
}
.info1-text {
  padding-right: 170px;
}
.info2 {
  padding-top: 80px;
}
.info2-text {
  padding-left: 170px;
}
.box2 {
  display: inline-block;
  padding: 9px 12px;
  border-radius: 6px;
  background-color: #3e454d;
}
.box3 {
  padding: 30px;
  margin-left: 20px;
  border-radius: 6px;
  background-color: #747983;
}
.box4 {
  flex: 2;
  padding: 30px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #333a49;
}
.box5 {
  flex: 3;
  padding: 30px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #333a49;
}
.box6,
.box7,
.box8 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32%;
  padding: 12px;
  margin-top: 20px;
  color: #333333;
  text-align: center;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.box7 {
  width: 24%;
}
.box8 {
  flex: 1;
  margin-right: 10px;
}
.box8:last-child {
  margin-right: 0;
}
.primary-bg {
  color: #ffffff;
  background-color: var(--color-primary);
}
@media (max-width: 1024px) {
  .module-4-left {
    padding-right: 50px;
  }
  .faq-box {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .info2-text {
    padding-left: 70px;
  }
  .info1-text {
    padding-right: 70px;
  }
}
@media (max-width: 768px) {
  .service-item {
    width: 100%;
    margin-top: 20px;
  }
  .module-4-left {
    padding-right: 0;
    padding-bottom: 30px;
  }
  .faq-box {
    padding-bottom: 20px;
  }
  .info1,
  .info2 {
    padding-top: 30px;
  }
  .info1-text,
  .info2-text {
    padding: 0;
    padding-bottom: 30px;
  }
  .box3 {
    margin-bottom: 30px;
  }
  .box3:last-child {
    margin-bottom: 0;
  }
  .box4,
  .box5 {
    flex: 1;
    padding: 20px;
  }
  .box4 {
    margin-right: 0;
  }
  .box5 {
    margin-left: 0;
    margin-top: 20px;
  }
  .box6,
  .box7,
  .box8 {
    width: 48%;
  }
  .box8 {
    flex: inherit;
    margin-right: 0;
  }
}
